<!DOCTYPE html>
<html lang="pt">

<head>
    
    {%block head%}
        <meta charset="UTF-8">
        <title> Gym Manager</title>
    {%endblock%}
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>


<body>
    <header>
        <div class="links">
            <a href="/instructors" >Instructors</a>
            <a href="/members">Members</a>
        </div>
    </header>
    
    {%block content%}{%endblock%}
    <script src="/script.js"></script>
</body>

</html>